    <footer class="footer">
      <div class="container">
        <div class="copyright">
          <blockquote class="pull-left">
            <p>慕课论坛</p>
            <p>Copyright &copy; 2015-2016 <a href="#">imooc</a> 1.0.0-rc2 <span class="pipe">|</span><span class="pipe">|</span></p>
          </blockquote>
        </div>
        <div class="pull-right hidden-sm hidden-xs">
          <p>
            <a href="#">关于我们</a>
            <span class="pipe">|</span>
            <a href="#">联系我们</a>
            <span class="pipe">|</span>
            <a href="#">常见问题解答</a>
          </p>
          <p>
            <a href="#"target="_blank">
              <img src="<?=STATIC_URL;?>images/imooc-logo.png" border="0" height="40" data-toggle="tooltip" data-placement="top" title="Powered by imooc"/>
            </a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
